# Ruta de la base de datos SQLite
# Desarrollo local:
DB_PATH=./juegos.db

# Cuando uses Docker, cambiar a algo como:
# DB_PATH=/app/data/juegos.db
# (y montar un volume en /app/data)

# Puerto del servidor
PORT=3000
